body {
    font-family: 'Montserrat', 'Kanit', sans-serif;
    font-weight: 300;
}

/* theme */
.navbar-default {
    background: rgba(0, 40, 101, .9);
}
.navbar-default .navbar-brand {
    /* margin-left: -30px; */
    margin-right: 30px;
}
.navbar-theme {
    min-height: 70px;
    background: rgba(0, 40, 101, .9);
}
.navbar-theme .navbar-brand {
    margin-left: -20px;
    margin-right: 30px;
}
.navbar-theme .navbar-brand img {
    height: 40px;
}
.navbar-theme .nav-link {
    color: #fff !important;
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.navbar-theme .nav-link:hover, .navbar-theme .nav-item.active .nav-link {
    color: #06bbe8 !important;
}
.navbar-theme .nav-item-social .nav-link {
    padding-right: .4rem;
    padding-left: .4rem;
}

.dropdown-user {
    position: relative;
}
.dropdown-user > .dropdown-menu {
    position: absolute;
    left: auto;
    right: 0;
    padding: 0;
    border-radius: 0;
    margin-top: 8px;
    width: 280px;
}
.dropdown-user .user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 40, 101, .9);
    color: white;
}
.dropdown-user .user-header img {
    width: 90px;
    height: 90px;
    border: 1px solid #202020;
}
.dropdown-user .user-header p {
    z-index: 5;
    color: #fff;
    font-size: 17px;
    margin-top: 5px;
}
.dropdown-user .user-header small {
    font-size: 80%;
    font-weight: 400;
}
.dropdown-user .user-body {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
}
.dropdown-user .user-footer {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: right;
}

.text-theme {
    color: #002865;
}

.badge-theme {
    color: #fff;
    background-color: #002865;
}

.bg-theme {
    color: #fff;
    background-color: #002865;
}

.btn-theme {
    color: #fff;
    background-color: #002865;
    border-color: #002865;
    box-shadow: none;
}
.btn-theme:hover {
    color: #fff;
    background-color: #001f4e;
    border-color: #001f4e;
}

.card-theme.card-outline {
    border-top: 3px solid #002865;
}
.card-theme:not(.card-outline)>.card-header {
    background-color: #002865;
}
.card-theme:not(.card-outline)>.card-header > .card-title {
    color: #fff;
}

.list-group-theme > .list-group-item:hover {
    z-index: 1;
    color: #06bbe8;
    text-decoration: none;
    background-color: #f8f9fa;
}
.list-group-theme > .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #002865;
    border-color: #002865;
}

.products-list .item:hover {
    background-color: #f9f9f9;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.products-list .item:hover img {
    background-color: #f9f9f9;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.products-list .product-img {
    height: 150px;
    width: 150px;
    margin-right: 8px;
    overflow: hidden;
}
.products-list .product-img img {
    height: auto;
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.products-list .product-description {
    height: 90px;
    white-space: pre-wrap;
}

.site-address {
    width: 100%;
    height: 42px;
    background: rgb(0,40,101);
    background: linear-gradient(90deg, rgba(0,40,101,1) 0%, rgba(239,239,239,0.9) 60%);
}
.site-address .breadcrumb {
    width: 40%;
    height: 42px;
    line-height: 2.5rem;
    direction: rtl;
    overflow: hidden;
}
.site-address .breadcrumb-item.active {
    direction: ltr;
}
.site-address .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "\2002";
    background-image: url('https://corrugatedduct.com/img/nav-address.png');
    background-repeat: no-repeat;
    background-position: left;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

/* login */
.login-page {
    background-color: #000;
    /* background: url('../image/plan-b-bg.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.login-box {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, .9);
}
.login-box .input-group-append {
    background-color: #fff;
}
.login-box .form-control {
    font-weight: 300;
}
.login-box .login-box-msg {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}
.login-box .card {
    background-color: transparent;
    margin-bottom: 0;
}
.login-box .card-body, .login-box .login-card-body {
    background-color: transparent;
    margin-bottom: 0;
}
.login-logo {
    margin-bottom: 0;
}
.login-logo img {
    height: 75px;
}

.table-drag td:hover{
    cursor: n-resize;
}

.table-parent table tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

.visible-hidden {
    visibility: hidden;
}
.display-hidden {
    display: none;
}

.table-center {
    margin: 0 auto;
    float: none;
}

.text-indent {
    text-align: justify;
    text-indent: 50px;
}
.text-middle,
tr.text-middle th {
    vertical-align: middle !important;
}
.text-bold {
    font-weight: bold !important;
}

.water-mark {
    position: absolute;
    z-index: 10;
    background: transparent;
    display: block;
    min-height: 50%;
    min-width: 100%;
    color: yellow;
}

.water-mark .water-text {
    opacity: 0.5;
    color: red;
    font-size: 150px;
    transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    margin-top: 35%;
    margin-left: 15%;
}

.tooltip-inner {
    text-align: left;
    font-size: 15px;
    max-width: 350px;
}

.triangle-up-right {
    position: relative;
}

.triangle-up-right:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid rgb(246, 85, 85);
    border-left: 10px solid transparent;
    top: 0;
    right: 0;
    position: absolute;
}

/* MODAL */
.modal-body.modal-body-custom {
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    margin: 0 auto;
}

/* .modal-fullscreen */
.modal-fullscreen {
    background: transparent;
}
.modal-fullscreen .modal-content {
    background: #fff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: 0.97;
    filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-fullscreen .modal-dialog {
    margin-right: auto;
    margin-left: auto;
    min-width: 90%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 7px;
    height: 7px; }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0; }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0, 40, 101, .9); }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: #002865; }

@media (max-width: 767.98px) {
    .navbar-default .navbar-brand {
        margin-left: 0;
    }
    .dropdown-user {
        font-size: 14px;
    }
    .dropdown-user .user-header {
        height: 150px;
        padding: 5px;
    }
    .dropdown-user .user-header img {
        width: 50px;
        height: 50px;
    }
    .dropdown-user .user-body {
        padding: 5px;
    }
}

@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
    .footer {
        margin-top: 10px;
    }
    .footer .copyright {
        font-size: 8px;
    }
}
@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 1170px;
    }
}

@media screen and (min-width: 1024px) {
    .table-parent {
        max-height: 500px !important;
    }
}
@media screen and (min-width: 1366px) {
    .table-parent {
        max-height: 600px !important;
    }
}
@media screen and (min-width: 1920px) {
    .table-parent {
        max-height: 700px !important;
    }
}
